
 * {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
  }

  h1 {
      font-family: Georgia, 'Times New Roman', Times, serif;    
  }

ul {
    list-style-type: none;
    float: left;
}

li {
    display: inline;
}

