
 * {
    box-sizing: border-box;
   
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    margin: auto;
  }
  
  heading {
      color: #4aaaa5;
      background: #fff;
      border-color: #666;
      
  h1 {
      border-color: #ccc;
      color: #4aaaa5;

    }

    ul {
    list-style-type: none;
    float: right;
    
}

    li {
    display: inline;
    
}

    .font {
    font-family: Georgia, 'Times New Roman', Times, serif;
   
   
}

    section {
    width: 960px;

}

    footer {
    background: #666;
}


